@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sayı inputlarındaki okları gizle */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}

@media print {
  /* Sadece fatura içeriğini göster, gerisini gizle */
  body * {
    visibility: hidden;
  }
  /* Fatura Modalını görünür yap ve tam ekran yap */
  #invoice-content, #invoice-content * {
    visibility: visible;
  }
  /* Modalı sayfanın en tepesine taşı */
  .fixed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    padding: 0;
    margin: 0;
  }
}